
body{
    margin: 0;
    padding: 0;
    background-color: rgb(230,235,240);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.container{
    border: none;
    border-radius: 15px;
    background-color: rgb(156,222,250);
    height: auto;
    width: 25vw;
    box-shadow: 4px 5px 7px;
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 1.6em;
   font-weight: 900; 
   border-bottom: 0.5px solid white;
   margin-bottom: 20px;
}
.addTask{
    display: flex;
    justify-content: space-evenly;
}
input{
    padding: 7px;
    border-radius: 5px;
}
button:hover{
    border: 1px, solid black;
    box-shadow: 2px 2px 2px;
}
button{
    background-color: rgb(244,242,155);
    color: rgb(11,11,11);
    padding: 4px;
    border-radius: 5px;
    
}
ul{
    list-style: none;
    padding: 15px;
}
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;



}